body{background-image:linear-gradient( #FEDE31, #614BF2, #251669);}

h1{color:darkviolet;
font-size: 50px;
text-align: center;
}
p{color:gold;
text-align: center;
font-size: 30px;


}
.logo{
width: 1100px;
height: 600px;
margin: 3px;
padding: 3px;
border: 0.2rem solid darkviolet;
border-radius: 20px;
}

.foto{
    width: 700px;
    height: 500px;
    margin: 3px;
    padding: 3px;
    border: 0.2rem solid darkviolet;
    border-radius: 20px;


}