body{background-color:black;}

h1{color:darkviolet;
font-size: 50px;
text-align: center;
}
p{color:gold;
text-align: center;
font-size: 30px;


}
.logo{
width: 1500px;
height: 800px;
margin: 3px;
padding: 3px;
border: 0.2rem solid darkviolet;
border-radius: 20px;
}